#contact{
    background-color: var(--my-smooth-black);
    color: #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #444;

    .contact-subtitle{

        display: flex;
        flex-direction: column;

        margin-top: 30px;
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
    }

    .separator{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;

        .contact-link{
            display: flex;            
            justify-content: space-evenly;
            align-items: center;

            text-decoration: none;
            padding: 8px;

            gap: 8px;
            width: 18rem;
            border-radius: 8px;
        }

        .contact-i{
            font-size: 30px;
        }

        #email-link{
            color: #423;
            border: 1px solid #333;
            background-color: $peach;

            transition-delay: 0.2s;
            transition-duration: 0.5s;
        }

        #linkedin-link{
            color: #ddf;
            border: 1px solid #ddd;
            background-color: #0a66c2;
        }

        #wpp-link{
            background-color: #166940;
            border: 1px solid #ddd;
            
            color: #ddd;

            transition-delay: 0.2s;
            transition-duration: 0.5s;
        }

        .contact-link:hover{
            filter: brightness(1.1);
            transform: scale(1.1);

            transition-delay: 0.2s;
            transition-duration: 0.5s;

            box-shadow: 
                rgba(187, 187, 187, 0.1) 0px 4px 16px, 
                rgba(212, 212, 212, 0.1) 0px 8px 24px, 
                rgba(48, 47, 47, 0.267) 0px 16px 56px; 
        }
    }

    .row{
        display: flex;
        align-items: center;

        padding: 60px;
        border: 1px solid #fff;
        border-radius: 8px;
    }
}