* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $bg-base;
    color: $color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

a {
    
}


section,
footer {
    padding: $default-spacing-y $default-spacing-x;

    #btn-wpp-footer{
        background-color: #678d66;
    }
    
    #btn-wpp-footer:hover{
        color: #678d66;
        border-color: #678d66;
    }
    
    #btn-lkn-footer{
        background-color: #2b6cad;
    }
    
    #btn-lkn-footer:hover{
        color: #004182;
        border-color: #2b6cad;
    }

    #btn-mail-footer{
        background-color: #e55f4f;;
    }

    #btn-mail-footer:hover{
        color: #c54b3d;
        border: 1px solid #e55f4f;
    }
    
    #btn-gtb-footer{
        background-color: #2d2d2d;
    }

    #btn-gtb-footer:hover{
        color:#2d2d2d;
        border-color:#2d2d2d
    }

    .btn-social{
        margin: 6px 0;
    }

    .btn-social:hover{
        background-color: #f8f9fa !important;
    }

}

