#it-header{
    padding-top: 180px;

    #it-services-lside{
        display:flex;
        flex-direction: column;
        
    }

    #it-services-rside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // background-color: aquamarine;

        border: 1px solid black;
        background-color: #503f4a;
        padding: 20px;
        border-radius: 8px;
    }
}