#it-header{
    padding-top: 180px;

    #it-services-lside{
        display:flex;
        flex-direction: column;
        
    }

    #it-services-rside{
        img{
            width: 300px;
        }
    }
}