.adress-section {
    background-color: #2d2d2d;
    border-bottom: #efefef;;
    border-style:solid;
}

.adress-row {
    iframe{
        border-radius: 30px;
    }
}

.adress-title{
    color: #efefef !important;
}
