:root {
    --my_white: #efefef;
    --my-smooth-blue: #5F76AA;
    --my-dark-blue: #2A4474;
    --my-dark-black: #222;
    --my-smooth-black: #2d2d2d;
    --my-soft-black: #373737;
}


//cor do icone
.i-vantagens {
    color: var(--my_white);
}
.i-symbols {
    color: var(--my_white);
}

.i-symbols-line {
    background-color: var(--my_white) !important;
}

.i-symbols-dark {
    color: var(--my-dark-black);
}
.i-symbols-line-dark {
    background-color: var(--my-dark-black);
}
.i-title-dark {
    color: var(--my-dark-black) !important;
}