#l-copyright {
    text-align: center;
}
#r-copyright {
    text-align: center;
}

@media only screen and (max-width: 991px){

    #footer-row{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        div{
            width: 100% !important;
        }
    }

    .adress-footer {
        width: 50% !important;
        p {
            text-align: center !important;
        }
    }
    
    .contact-footer {
        width: 50% !important;
    }
    #l-copyright {
        text-align: center !important;
    }
    #r-copyright {
        text-align: center !important;
    }

    .footer-title {
        text-align: center !important;
    }

    .service-p-link{
        text-align: center;
    }
}