.front-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

footer {
    color: #fff !important;
    background-color: rgb(44, 62, 80);
}