.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
        border-radius: 1px solid black;
        background-color: #bb2020;

        color: #ddd;
        padding: 6px 12px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    margin-top: 30px;
    margin-bottom: 0;

}

.btn-close-modal{
    background-color: #290000;
    color: #fefefe;

    border-style: none none solid none;
    border-color: #8b0000;
}

.btn-close-modal:hover {
    background-color: #8b0000;
    color: #fff;

    box-shadow: 0.25rem 0.25rem 10px  rgba(141, 141, 141, 1);
    
}