.btn-close-modal{
    background-color: #290000;
    color: #fefefe;

    border-style: none none solid none;
    border-color: #8b0000;
}

.btn-close-modal:hover {
    background-color: #8b0000;
    color: #fff;

    box-shadow: 0.25rem 0.25rem 10px  rgba(141, 141, 141, 1);
    
}