
.why-hire {
    .subtitle {
        margin-bottom: 50px !important;
        color: #f2eff2 !important;
    }
}

#why-to-hire {
    background-color: #323;

    .container {
        height: auto;
    }
}
.hire-cards {
    display: flex !important;
    color: #ddd;
}
.hire_card {
    background: #212;
    padding: 20px;

    border-color: #330033;
    // border-width: 7px;
    border-radius: 45px;
    // height: 220px;
    // background-color: #abd;
    flex-wrap: wrap;
    box-shadow: 5px 10px 20px 9px #2c002c;
    
    h4 {
        // margin-top: 50px;
    }
    
}
.hire_card:hover {
    transform: scale(1.1);
    transform: translateY(-5px);

    // background-color: rgb(33, 33, 94);
}

#cor do icone
.i-vantagens {
    color:#ddd5dd;
}

