
.why-hire {
    .subtitle {
        margin-bottom: 50px !important;
        color: #f2eff2 !important;
        line-height: 110%;
    }
}

#why-to-hire {
    background-color: #222;

    .container {
        height: auto;
    }
}
.hire-cards {
    display: flex !important;
    color: #ddd;
    gap: 50px;
}
.hire_card {
    background: var(--my-smooth-black);
    padding: 20px;

    justify-content: space-between;
    align-content: center !important;

    flex-wrap: wrap;
    border-color: #696969;
    border-radius: 45px;
    
    
}

.hire_card:hover {
    transform: scale(1.1);
    transform: translateY(-5px);

    // background-color: rgb(33, 33, 94);
}
@media only screen and (max-width: 768px) {
    .hire-cards {
        flex-direction: column;
    }
    .hire_card{
        width: auto;
    }
}

@media only screen and (max-width: 574px) {
    .hire-cards {
        // padding: 30px 15px;
    
    }
}


